<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <button (click)="getAllPost()">getAllPost()</button>
    <button (click)="getPost()">getPost()</button>
    <button (click)="getAllComment()">getAllComment()</button>
    <button (click)="getComment()">getComment()</button>
    <button (click)="getAllAlbum()">getAllAlbum()</button>
    <button (click)="getAlbum()">getAlbum()</button>
    <button (click)="getAllPhotos()">getAllPhotos()</button>
    <button (click)="getPhoto()">getPhoto()</button>
    <button (click)="getAllUser()">getAllUser()</button>
    <button (click)="getUser()">getUser()</button>
</div>
<router-outlet></router-outlet>
